[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"
black = "*"
isort = "*"
pytest = "*"
pytest-cov = "*"
jupyterlab = "*"

[requires]
python_version = "3.12"
